body {
  text-align: center;
  font-family: "Helvetica Neue";
  background: url(img/adrien-olichon-1194950-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  color: #1B95E0;
  text-align: center;
  font-size: 50px;
  padding: 16px;
  margin-top: 30px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5%;
  padding: 10px;
  color: #2b3345;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.feed-post {
  width: 60%;
  height: auto;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px 10px 0 10px;
  box-shadow: 10px 10px rgba(24.7%, 25.9%, 29%, 0.5);
  word-wrap: break-word;
}

.post-text {
  word-wrap: break-word;
}

.tweet-btn {
  color: #ffffff;
  font-size: 14px;
  background-color: #1B95E0;
  border-radius: 100px;
  border: none;
  width: 120px;
  padding: 16px;
  margin: 20px;
  font-weight: bold;
  text-align: center;
}

.counter {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin: 5px;
}

.light-blue {
  color: #2b3345;
  background-color: #dee2ec;
}

.blue-counter {
  color: #1B95E0;
}

.yellow-counter {
  color: #FFAD20;
}

.red-counter {
  color: red;
}